@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Insta Ethereum Admin</title>
    @Styles.Render("~/Admin/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container-fluid body-content bg-dark">
        <div class="row">
            <div class="col-md-2 bg-primary" id="MyNavbar">
                <div>
                    <h3 class="text-center">
                        <img src="~/Assets/img/logo2.svg" height="36" />
                    </h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                        <li class="list-group-item">@Html.ActionLink("User", "Index", "Users")</li>
                        <li class="list-group-item">@Html.ActionLink("Order", "Index", "Orders")</li>
                        <li class="list-group-item"><a href="#">Mail</a></li>
                        <li class="list-group-item">@Html.ActionLink("Set Price", "Index", "SetPrice")</li>
                        <li class="list-group-item">@Html.ActionLink("Stock", "Index", "Stocks")</li>
                        <li class="list-group-item"><a href="#">P/L Acc</a></li>
                        <li class="list-group-item">@Html.ActionLink("Market Time", "Index", "MarketTimes")</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 bg-info" id="MyContent">
                @RenderBody()
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>