@model InstaEthereum.Models.UserLoginViewModel

@{
    ViewBag.Title = "Buy";
    ViewBag.ImageStepCount = "1.png";
}

<div class="content-div">
    @using (@Html.BeginForm("StepStartProcess", "BuyEthereum", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                <h5 id="card-header">Login</h5>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 60px;">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control my-form-control", placeholder = "Enter your email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12 text-center">
                <button type="submit" class="btn btn-primary" style="margin-top: 60px; width: 200px; padding: 15px 0;">NEXT</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12 text-center" style="padding-top:10px;">
                <p class="text-center">
                    @Html.ActionLink("Not register yet? Kindly register", "StepThree", "BuyEthereum")
                </p>
            </div>
        </div>
    }
</div>
