@model InstaEthereum.Models.NewRegisterViewModel

@{
    ViewBag.Title = "1";
    ViewBag.ImageStepCount = "1.png";
}

<div class="content-div page3">
    @using (@Html.BeginForm("StepThreeProcess", "BuyEthereum", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                <h5 id="card-header">Enter Your Personal Details</h5>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 60px;">
                @Html.TextBox("Email", (string)@ViewBag.Email, new { @class = "form-control my-form-control", placeholder = "Enter your email", Readonly = "Readonly" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 15px;">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control my-form-control", placeholder = "Enter your name" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                @*<input type="text" name="UserName" class="form-control my-form-control" placeholder="Enter your name" />*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 15px;">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control my-form-control", placeholder = "Enter your mobile" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                @*<input type="text" name="PhoneNumber" class="form-control my-form-control" placeholder="Enter your mobile" />*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 45px;">
                <p id="input-info">Personal details will ask you only first time.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12 text-center">
                <button type="submit" class="btn btn-primary" style="margin-top: 0px; width: 200px; padding: 15px 0;">NEXT</button>
                @*@Html.ActionLink("NEXT", "StepFour", "BuyEthereum", null, new { @class = "btn btn-primary", style = "margin-top: 0px;width: 200px;padding: 15px 0; " })*@
            </div>
        </div>
    }

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}