@model InstaEthereum.ViewModels.StepOneViewModel

@{
    ViewBag.Title = "2";
    ViewBag.ImageStepCount = "2.png";
}

<div class="content-div">
    @using (@Html.BeginForm("StepOneProcess", "BuyEthereum", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                <h5 id="card-header">Enter Ethereum Quantity To Buy</h5>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 60px;">
                @Html.TextBoxFor(m => m.EthereumQty, new { @class = "form-control my-form-control", placeholder = "Enter Ethereum Quantity" })
                <p id="input-info">Minimum purchase of @Model.MinEthBuy ETH and maximum @Model.MaxEthBuy ETH</p>                
                @*<p id="input-info">
                    @Html.ValidationMessageFor(m => m.EthereumQty, "", new { @class = "text-danger input-info" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </p>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 55px;">
                <h5 id="price-text">1 Ethereum &nbsp;&nbsp;&nbsp;&nbsp; =&nbsp;&nbsp;&nbsp; @InstaEthereum.Models.Helper.parseValueIntoCurrency(Model.SetPrice)</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12 text-center">
                <button type="submit" class="btn btn-primary" style="margin-top: 60px; width: 200px; padding: 15px 0;">NEXT</button>
            </div>
        </div>
    }
</div>
