<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Insta Ethereum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid">
        <div class="row" id="header">
            <div class="col-md-12">
                <h4 id="main-header">Insta Ethereum</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5 id="heading">Buy Ethereum</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.ImageStepCount != null)
                {
                    <div id="img">
                        <img id="img-1" src="~/Assets/img/@ViewBag.ImageStepCount">
                    </div>
                }
            </div>
        </div>

        @RenderBody()

        <div class="row">
            <div class="col-md-12" id="footer">
                <h4 id="main-footer">Insta Ethereum</h4>
            </div>
        </div>
    </div>    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
