@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Insta Ethereum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="width: 99%;">
        <div class="row" id="header">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                <h4 id="main-header">Insta Ethereum</h4>
            </div>
        </div>
    </div>

    @*@if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }*@

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                <h5 id="heading">Buy Ethereum</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                @if (ViewBag.ImageStepCount != null)
                {
                    <div id="img">
                        <img id="img-1" src="~/Assets/img/@ViewBag.ImageStepCount">
                    </div>
                }
            </div>
        </div>

        @RenderBody()

        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12 text-center" id="footer">
                <h4 id="main-footer">Insta Ethereum</h4>
                <ul class="footer-nav">
                    <li>@Html.ActionLink("Search Transaction", "SearchTransaction", "BuyEthereum")</li>
                    <li class="pipe-divider">|</li>
                    <li>@Html.ActionLink("Support", "Support", "BuyEthereum")</li>
                </ul>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
