@model InstaEthereum.Areas.Admin.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";

    var totalUsers = Model.TotalUsers == 0 ? "NA" : Model.TotalUsers.ToString();

    var TotalOrders = Model.TotalOrders == 0 ? "NA" : Model.TotalOrders.ToString();
    var pendingOrders = Model.pendingOrders == 0 ? "NA" : Model.pendingOrders.ToString();
    var CompleteOrders = Model.CompleteOrders == 0 ? "NA" : Model.CompleteOrders.ToString();
    var InCompleteOrders = Model.InCompleteOrders == 0 ? "NA" : Model.InCompleteOrders.ToString();
}

@Html.Partial("_TopHeader")

<div class="main-content">
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">                        
                        @totalUsers
                    </h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Users</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">2,530.55 ETH</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Ethereum Sold</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">2,53,560 INR</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Profit</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">215</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Ethereum in Stock</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">@TotalOrders</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Transaction</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">@pendingOrders</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Pending</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">@CompleteOrders</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Complete</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">@InCompleteOrders</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Incomplete</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">25,36 ETH</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Total Sold</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">2,53,650 INR</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Purchase Price</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">3,56,700 INR</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Sold Price</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-card">
                <div class="card-body">
                    <h3 class="card-title text-center">1,03,050 INR</h3>
                    <div class="divider"></div>
                    <h5 class="card-text text-center">Profit</h5>
                </div>
            </div>
        </div>
    </div>
</div>