@model InstaEthereum.Areas.Admin.ViewModels.StockViewModel

@{
    ViewBag.Title = "Stocks";
    int srNo = 1;
}

@Html.Partial("_TopHeader")

<div class="main-content">
    <div class="row" style="margin-bottom:20px;">
    </div>
</div>

<div class="set-price-div">
    <div class="row">
        <div class="col-md-12">
            <h5>Set Minimum and Maximum purchase</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SetRange", "Stocks", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()

                <table class="table table-bordered  table-responsive ">
                    <thead>
                        <tr>
                            <th>Minimum Purchase ETH</th>
                            <th>Maximum Purchase ETH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.TextBoxFor(m => m.EthMinPurchaseLimit, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.EthMaxPurchaseLimit, new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-center">
                                <input type="submit" class="btn btn-danger" value="Set Range" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Manage Stocks</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" style="margin-bottom:15px">Add Stock</button>

                <table class="table table-bordered table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Date</th>
                            <th>Opening Balance</th>
                            <th>Purchased Qty</th>
                            <th>Sold Qty</th>
                            <th>Closing Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.Stocks)
                            {
                                <tr>
                                    <td>@srNo</td>
                                    <td>@string.Format("{0:dd MMM yyyy}", item.Datetime)</td>
                                    <td>@item.OpeningBalance</td>
                                    <td>@item.PurchaseQty</td>
                                    <td>@item.SoldQty</td>
                                    <td>@item.ClosingBalance</td>
                                </tr>
                                srNo++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @using (Html.BeginForm("SaveStock", "Stocks", FormMethod.Post))
        {            
            @Html.AntiForgeryToken()
            
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Stock</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">                        
                        <label class="col-sm-4 col-form-label">Ethereum Qty</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.EthereumQty, new { @class = "form-control", required="true" })
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger" style="margin-top:25px;">Save</button>
                    </div>
                </div>                
            </div>
        }
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<input type="hidden" id="alertMessage" value="@ViewBag.Message" />

@section Scripts
{
    @{
        if (!string.IsNullOrWhiteSpace(ViewBag.Message))
        {
            <script>
                $(function () {
                    alert($("#alertMessage").val());
                })
            </script>
        }
    }
}